<h1>Create New Dose</h1>

<%= simple_form_for [@cocktail, @dose]  do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
<% end %>

<%= link_to 'Go Back', cocktails_path(@cocktail) %>